In [1]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
df=pd.read_csv("../raw_data/attr.csv", names=["degree", "gender", "major", "second_major", "dormitory", "high_school"])

df

      degree  gender  major  second_major  dormitory  high_school
0          1       2      8            22          0        23574
1          2       2     15            14        229            0
2          1       1      3             0        237         9976
3          2       2      3             0        230        19776
4          1       2      6             0        229        17097
...      ...     ...    ...           ...        ...          ...
5293       2       1     15            17        231        10376
5294       2       2     18             0        263        52510
5295       1       1      7            29        237         1734
5296       1       2     10             7        254         2972
5297       2       2      6             0        242        24703

[5298 rows x 6 columns]

In [17]:
df_onehot=pd.get_dummies(df, columns=["degree", "gender", "major", "second_major", "dormitory", "high_school"])

df_onehot

,degree_1,degree_2,degree_3,degree_4,degree_5,degree_6,gender_0,gender_1,gender_2,major_0,...,high_school_59777,high_school_59842,high_school_60225,high_school_60414,high_school_60439,high_school_60474,high_school_60540,high_school_60892,high_school_61240,high_school_61426
0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5293,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5294,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5295,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5296,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5297,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
data=df_onehot.values

np.savez_compressed("../data/data.npz", data=data)