In [1]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
df=pd.read_csv("../raw_data/attr.csv", names=["degree", "gender", "major", "second_major", "dormitory", "high_school"])

df

      degree  gender  major  second_major  dormitory  high_school
0          1       2      8            22          0        23574
1          2       2     15            14        229            0
2          1       1      3             0        237         9976
3          2       2      3             0        230        19776
4          1       2      6             0        229        17097
...      ...     ...    ...           ...        ...          ...
5293       2       1     15            17        231        10376
5294       2       2     18             0        263        52510
5295       1       1      7            29        237         1734
5296       1       2     10             7        254         2972
5297       2       2      6             0        242        24703

[5298 rows x 6 columns]

In [14]:
df_onehot=pd.get_dummies(df, columns=["degree", "gender", "major", "second_major", "dormitory"])

df_onehot

,high_school,degree_1,degree_2,degree_3,degree_4,degree_5,degree_6,gender_0,gender_1,gender_2,...,dormitory_281,dormitory_282,dormitory_283,dormitory_284,dormitory_285,dormitory_286,dormitory_287,dormitory_288,dormitory_289,dormitory_290
0,23574,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,9976,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,19776,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,17097,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5293,10376,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5294,52510,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5295,1734,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5296,2972,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5297,24703,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [15]:
data=df_onehot.values

np.savez_compressed("../data/data.npz", data=data)